<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server" value="SAPDEV"/>
    <add key="CompanyDB" value="SBODemoAU"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="1234"/>
    <add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="P@55w0rd2022"/>
    <add key="SQLVersion" value="2019"/>
  </appSettings>
</configuration>